.category {
    display: inline-block;
    margin: 0 0.5rem 1rem 0;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    background: #00ffe7;
    color: #232336;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
  }