<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/about.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/projects.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/blogs.css" | relative_url }}">
  
  <script>
    window.siteBaseUrl = "{{ site.baseurl }}";
  </script>
  <script defer src="{{ '/assets/js/background-nav.js' | relative_url }}"></script>
  <script defer src="{{ '/assets/js/section-nav.js' | relative_url }}"></script>
  <script defer src="{{ "/assets/js/toggle.js" | relative_url }}"></script>

  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ "/assets/images/favicon/android-chrome-192x192.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ "/assets/images/favicon/android-chrome-512x512.png" | relative_url }}">
  <link rel="manifest" href="{{ "/site.webmanifest" | relative_url }}">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="dark-mode">
  {% include navbar.html %}
  {% include section-navbar.html %}
  <main>
    {{ content }}
  </main>
  {% include back-to-top.html %}
  {% include footer.html %}
</body>
</html> 